<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="alert alert-dark w-75 m-auto mb-2 text-center">registeration form</h4>
            <form>
                <div class="form-group d-flex">
                    <label for="name" class="w-25">name</label>
                    <input type="text" class="form-control" id="name"/>
                </div>
                <div class="form-group d-flex m-auto mb-2">
                    <label for="age" class="w-25">age</label>
                    <input type="number" class="form-control" id="age"/>
                </div>
                <div class="form-group text-center m-atuo mb-4">
                    <input type="button" value="add" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>
</div>
