<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="alert alert-dark w-75 m-auto mb-2 text-center">students</h4>
                <table class="table table-borderd table-hover m-atuo text-center" border="1">
                    <thead>
                    <tr>
                        <td>no</td>
                        <td>name</td>
                        <td>age</td>
                    </tr>
                    </thead>
                    <tbody >
                        
                        @for (std of Students; track $index) {
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{std.name}}</td>
                                <td>{{std.age}}</td>
                            </tr> 
                        }
                        <!-- <tr>
                            <td>no</td>
                            <td>name</td>
                            <td>age</td>
                        </tr>
                        <tr>
                            <td>no</td>
                            <td>name</td>
                            <td>age</td>
                        </tr> -->
                    </tbody>
                </table>
            
        </div>
    </div>
</div>